*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    display: flex;
    flex-direction: column;
}

.gameContainer {
    height: auto;
    width: 100px;
    display: flex;
}

.game {
    background-color: blueviolet;
    margin: 1rem;
    padding: 1rem;
}

.imgContainer img{
    height: 100px;
}